# Dependencies
node_modules/

# Environment
.env

# Build output
.angular/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Misc
/tmp
/out-tsc
.vercel
.env*.local
